.container {
    display:flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    height: 100%;
    /* background-attachment: fixed; */
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614509623_182-p-fon-belaya-kirpichnaya-stena-236.jpg");
    background-attachment: fixed;
}
/* .icon {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 200px;
    flex-basis: 30%;
} */
a {
    font-size: 90px;
    flex-basis: 70%;
    color:black;
    text-underline-offset: none;
}
em {
    font-size: 25px;
    width: 50%;
    color: white;
    background: black;
    
}
h1:hover {
    color:blue
}